
@{
    ViewBag.Title = "UserView";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div id="data1">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Danh sách quản trị viên</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="">Tìm kiếm</h6>

                            @using (@Html.BeginForm("SearchUser", "User", FormMethod.Post, new { onsubmit = "return SubmitSearch(this)" }))
                            {
                                <div class="form-row align-items-center">
                                    <div class="col-auto">
                                        <input id="search" class="form-control" type="text" name="search" placeholder="Từ khóa bất kỳ" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" id="searchByName" class="btn btn-icon waves-effect waves-light btn-primary">
                                            <i class="fas fa-search "></i>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-icon waves-effect waves-light btn-success" onclick="window.location.href='@Url.Action("AddOrEdit","User")'">
                                            <i class="fas fa-plus "></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="tableAjax">
                        @{
                            Html.RenderAction("LoadTable", "User");
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>


        $(document).ready(function () {
            $('#search').keypress(function () {
                var name = $(this).val();

                $.ajax({
                    type: "get",
                    url: "/Admin/User/LoadTable?search=" + name,
                    contentType: "html",
                    success: function (response) {
                        $('#tableAjax').html(response);
                    }
                })
            });
            $("nav ul li a").addClass("page-link");
            $("nav ul ").addClass("justify-content-end");
        })

        function SubmitSearch(form) {
            var name = $("#search").val();
            post_url = $(form).attr("action");
            $.ajax({
                type: "Get",
                url: "/Admin/User/LoadTable?search=" + name,
                contentType: "html",
                success: function (response) {
                    $('#tableAjax').html(response);
                }
            });
            return false;
        }

        function Delete(url) {
            swal({
                title: "Bạn chắc chắn muốn xóa?",
                text: "Nếu xóa dữ liệu sẽ không thể phục hồi được!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                $("#tableAjax").load("@Url.Action("LoadTable","User")");
                                swal("Xóa thành công", {
                                    icon: "success",
                                });
                            } else {
                                $("#tableAjax").load("@Url.Action("LoadTable","User")");
                                swal("Xóa thất bại", {
                                    icon: "error",
                                });
                            }
                        }
                    });
                }
                else {
                     swal("Dữ liệu vẫn an toàn!");
                }
            });
        }
    </script>
}



